* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    color: #005F73;
    font-weight: 600;
    line-height: 65px;
}

h2 {
    font-size: 40px;
    font-weight: 600px;
    color: #FEFEFE;
}

p {
    color: #FEFEFE;
    font-size: 20px;
}

header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #005F73;
    color: #FEFEFE;
    width: 100%;
    position: sticky;
    top: 0px;
}

header img {
    width: 185px;
    height: 25px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #FEFEFE;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    opacity: 0.7;
}

.header-1 {
    margin-top: 40px;
    margin-left: 60px;
}

#reviews-subheader {
    color: #001219B2;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 60px;
    column-gap: 20px;
}

.card {
    grid-column-start: 1fr;
    height: auto;
    background-color: #005F73B2;
    padding: 50px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.cafe-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.cafe-image {
    width: 554px;
    height: 432px;
    border-radius: 10px;
}

.cafe-new {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #FF6746;
    font-size: 12px;
}
#dramatico {
    background-color: #A03159B2;
}

.button {
    text-decoration: none;
    color: #FEFEFE;
    border: 1px solid #FEFEFE;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
}

.button:hover {
    background-color: #FEFEFE;
    color: #005F73;
}

.button:active {
    opacity: 0.5;
}
